{% extends "layout.html" %}
{% block title %}
Feed
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <header>
            {% include "navbar.html" %}
        </header>
        <div class="conteudo">
            {% for pic in pics %}
            <div class="bloco-imagem">
                <a href="{{ url_for('perfil', user_id=pic.user_id) }}">
                    <img src="{{ url_for('static', filename='posted_pics/{}'.format(pic.image)) }}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
</html>